<!-- vim: syntax=htmldjango
-->
{% extends 'core/base.html' %}

{% block content %}
<div class='row'>
    <div class='col'>
        {% include 'insegnanti/compito_form.html' %}
    </div>
</div>
{% endblock content %}
