<!--
    vim: syntax=htmldjango
-->
{% extends 'insegnanti/home_insegnante.html' %}

{% block insegnante_content %}
<div class='row'>
    <div class='col'>
        {% include "core/classe_titolo.html" %}
    </div>
</div>

<div id='compito-form' class='row'>
</div>

<script>
    $('#aggiungi-compito').click( function(e) {
        $.ajax({
            url: '{% url "insegnanti:ajax-compito-form" classe.pk %}',
            success: function(data) {
                $('#compito-form').html(data);
            }
        })   
    })
</script>

{% include "core/compiti_lista.html" %}


{% endblock insegnante_content %}
