<!-- vim: syntax=htmldjango
-->
{% load crispy_forms_tags %}
<div class='col-8'>
    <h5> Aggiungi compiti per la classe {{classe}} </h5>
    <form 
        method='post' 
        enctype='multipart/form-data'
        action='{% url "insegnanti:aggiungi-compito" classe_pk %}' 
        autocomplete='off'>
            {{form|crispy}}
            {% csrf_token %}
        </table>
        <input type='submit' class='btn btn-primary' value='Aggiungi' />
    <script>
        $( function() { 
            // add calendar widget
            $('[data-target="#data-compito-picker"]').datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true
            }); 
            // prevent autocompletion
            $('[data-target="#data-compito-picker"]')
                .attr('autocomplete','off'); 
        } );
    </script>
    </form>
</div>

