{% extends 'core/base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<div class='row'>
    <div class='col'>
        <h1> Benvenuto {{user.full_name}} </h1>
        <h3> 
            Sembra che tu sia stato invitato a far parte del gruppo della {{classe}} 
        </h3>
        <p> Se vuoi unirti a questa classe, usa il pulsante qui sotto. </p>
        <div style='padding:1pt'>
            <form 
                method=post
                action="#">
                {% csrf_token %}
                <button type=Submit class='btn btn-primary btn-large'>
                    Sono un'insegnante di questa classe
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

