<!--
    vim: syntax=htmldjango
-->
{% extends "core/base.html" %}

{% block content %}

<div class='row'>
	<h1> Ciao {{ user.full_name }} </h1>
</div>
<hr/>

{% block insegnante_content %}
	{% include "insegnanti/pannello_classi.html" %}
{% endblock insegnante_content %}

{% endblock content %}
