<!--
    vim: syntax=htmldjango
-->

<div class='row'>
    <div class='col-8'>
        <h1> Classi </h1>
    </div>
    <div class='col-4'>
		<p> <button class='btn btn-primary' id='unisciti-classe'>
			Unisciti ad una classe
		</button> </p>
    </div>
</div>

<div style='display:none' id='cerca-classe-form' class='row'>
    {% include "core/form_invito_classe.html" %} 
</div>

<script>
    $('#unisciti-classe').click( function(e) {
        $('#cerca-classe-form').slideDown();
    });
</script>

{% if user.insegnante.classi.exists %}
    {% for classe in user.insegnante.classi.all %}
        <div class='row'>
            <div class='col'>
				<h3>
                    <a href='{% url "dettagli-classe" classe.pk %}'>
					    {{ classe }}
			        </a> 
                </h3>
            </div>
        </div>
        <hr />
    {% endfor %}
{% else %}
	<p> Non ti sei ancora unito ad alcuna classe. </p>
{% endif %}

