<!-- vim: syntax=htmldjango
-->
{% extends 'genitori/home_genitore.html' %}

{% block genitore_content %}
<div class='row'>
    <div class='col'>
        {% include 'genitori/figlio_form.html' %}
    </div>
</div>
{% endblock genitore_content %}
