<div id='invito-colletta-bottoni-wrapper'>
    <p>
    {% if invito.conferma %}
    <a onclick='accettaInvitoColletta(event)' 
       data-invitoId="{{invito.colletta.pk}}"
       href='{% url "genitori:conferma-invito-colletta" invito.pk "n" %}' 
       class='btn btn-invito btn-outline-success'>
            Parteciperai alla colletta
    </a>
    {% else %}
    <a onclick='accettaInvitoColletta(event)' 
       data-invitoId="{{invito.colletta.pk}}"
       href='{% url "genitori:conferma-invito-colletta" invito.pk "y" %}' 
       class='btn btn-primary btn-invito'>
            Conferma Partecipazione Alla Colletta
    </a>
    {% endif %}
    </p>
</div>

{% comment %}
vim: ft=htmldjango
{% endcomment %}
