<p>
{% if invito.conferma %}
    <a onclick='accettaInvitoEvento(event)' 
       data-eventoId="{{invito.evento.pk}}"
       href='{% url "genitori:conferma-invito-evento" invito.pk "n" %}' 
       class='btn btn-invito btn-outline-success'>
            Parteciperai all'evento
    </a>
{% else %}
    <a onclick='accettaInvitoEvento(event)' 
       data-eventoId="{{invito.evento.pk}}"
       href='{% url "genitori:conferma-invito-evento" invito.pk "y" %}' 
       class='btn btn-primary btn-invito'>
            Partecipa
    </a>
{% endif %}
{% if not no_detail_btn %}
    <a  id='evento-detail-button' 
        href='{% url "genitori:dettagli-evento" invito.evento.pk %}' 
        class='btn btn-secondary'>
        Dettagli
    </a>
{% endif %}
</p>
{% comment %}
vim: ft=htmldjango
{% endcomment %}
