<!--
    vim: syntax=htmldjango
-->
{% extends "genitori/home_genitore.html" %}

{% load genitori_tags %}

{% block genitore_content %}

{% genitore_is_rappresentante user.genitore classe as is_rappresentante %}

<div class='row'>
    <div class='col'>
        {% include "core/classe_titolo.html" %}
    </div>
</div>

<div class='row'>
    <div class='col'>
        <h4> Alunni: </h4>
        <ul>
        {% for alunno in classe.alunni.all %}
        <li> {{alunno}} </li>
        {% endfor %}
        </ul>
    </div>
    <div class='col'>
        <h4> Insegnanti: </h4>
        <ul>
        {% for insegnante in classe.insegnanti.all %}
        <li> {{insegnante}} </li>
        {% endfor %}
        </ul>
    </div>
    <div class='col'>
        <h4> Rappresentanti: </h4>
        {% if is_rappresentante %}
        <a href="{% url 'genitori:modifica_rappresentanti' classe.pk %}">
            <small> Modifica </small>
        </a>
        {% endif %}
        <ul>
        {% for rappresentante in classe.rappresentanti.all %}
        <li> {{rappresentante}} </li>
        {% endfor %}
        </ul>
    </div>
</div>

{% include "core/compiti_lista.html" %}

{% include "genitori/pannello_eventi.html" %}

{% endblock genitore_content %}
