{% extends 'core/base.html' %}

{% block content %}

<div class='row'>
    <div class='col'>
        <h5> Vuoi veramente eliminare la classe {{classe}}? </h5>
        <form method=POST>{% csrf_token %}
            <input type=submit class='btn btn-outline-danger' 
                   value="Si, sono sicuro di volerla eliminare" />
        </form>
    </div>
</div>

{% endblock content %}
