{% comment %} vim: syntax=htmldjango
{% endcomment %}
{% load crispy_forms_tags %}
<div class='col'>
    <h3> Aggiungi una classe </h3>
    <form method=post>
        {% csrf_token %}
        <h5> Dati della classe </h5>
            {{form|crispy}}
        {% if user.genitore.figli.exists %}
        <h5> Scegli un figlio </h5>
            {{scelta_figlio|crispy}}
            <p> Oppure </p>
        {% endif %}
        <h5> Registra un nuovo figlio (opzionale) </h5>
        {{form_alunni.management_form}}
        <table>
            {% for form_alunno in form_alunni %}
            {{form_alunno|crispy}}
            {% endfor %}
        </table>
        <input type='submit' class='btn btn-primary' value='Conferma' />
    </form>
</div>

