    <h2> {{colletta.nome}} </h2>
  {% if colletta.creatore == user.genitore %}
      <a href='{% url 'genitori:colletta-update' colletta.pk %}'>
          Modifica
      </a> 
  {% endif %}
    <p> <small> Quota consigliata: {{colletta.quota_consigliata}} </small> </p>
    <p> {{colletta.descrizione}} </p>

    {% include "genitori/bottoni_colletta.html" with invito=invito_colletta %}
<script>

function accettaInvitoColletta(e) {
    e.preventDefault();
    $.ajax({
        url: e.target.href,
        cache: false,
        success: function(data) {
            var invito_id = e.target.getAttribute('data-invitoId');
            $("#invito-colletta-bottoni-wrapper").html(data);
            $("#partecipazione_colletta_{{invito_colletta.id}}").toggleClass('oi-check');
            $("#partecipazione_colletta_{{invito_colletta.id}}").toggleClass('oi-x');
        },
        failure: data => alert("qualcosa e' andato storto"),
    }
    );
    return false;
}

</script>

{% comment %}
vim: ft=htmldjango
{% endcomment %}
