{% extends 'core/base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<div class='row'>
    <div class='col'>
        <h1> Benvenuto {{user.full_name}} </h1>
        <h3> 
            Sembra che tu sia stato invitato a far parte del gruppo della {{classe}} 
        </h3>
        <p> Se vuoi unirti a questa classe, usa il pulsante qui sotto. </p>
        <div style='padding:1pt'>
            <form method='post' action="#">
                {% csrf_token %}
                <button onclick="mostraFiglioForm(event)" class='btn btn-primary btn-large'>
                    Sono il genitore di un bambino di questa classe
                </button>
                <hr />
                <div id='wrapper-figli' style='display:none' class='row'>
                    <h3> Specifica il figlio che fa parte di questa classe </h3>
                    <div class='col-6'>
                        <h5> Se gia' lo hai registrato, scegli un figlio da qui </h5>
                        {{form_scelta_figlio|crispy}}
                    </div>
                    <div class='col-6'>
                        <h5>Altrimenti, aggiungine uno ora</h5>
                        {{form_figlio|crispy}}
                    </div>
                    <button type='submit' class='btn btn-primary'>
                        Conferma
                    </button>
                </div>
            </form>
        </div>
    <script>
        function mostraFiglioForm(e) {
            e.preventDefault()
            document.getElementById('wrapper-figli').style.display = '';
            return false;
        }
    </script>
    </div>
</div>

{% endblock content %}

