{% extends 'core/base.html' %}

{% block content %}

<div class='row'>
    <div class='col'>

        <h1> {{evento.nome}} </h1>
        <p> 
          {% if evento.creatore == user.genitore %}
              <a href='{% url 'genitori:evento-update' evento.pk %}'>
                  Modifica
              </a> 
              {% if not evento.colletta %}
              <a href='{% url 'genitori:colletta-evento-associa' evento.pk %}' class='btn btn-primary'>
                  Associa Colletta
              </a>
              {% endif %} {# not evento.colletta #}
              {% endif %} {# evento.creatore == user.genitore #}
          <br/>
            Organizzato da {{evento.creatore}} presso: 
              <b> {{evento.luogo_str}}</b> 
        </p>
        <p> <small> {{evento.data}} </small></p>
        <p> {{evento.descrizione}} </p>

    <div id='evento-bottoni-wrapper'>
{% include 'genitori/bottoni_evento.html' with invito=invito_evento no_detail_btn=1 %}
    </div>
<script>
function accettaInvitoEvento(e) {
    e.preventDefault();
    $.ajax({
        url: e.target.href,
        cache: false,
        success: function(data) {
            $("#evento-bottoni-wrapper").html(data);
            $('#evento-detail-button').hide();
            $("#partecipazione_evento_{{invito_evento.id}}").toggleClass('oi-check');
            $("#partecipazione_evento_{{invito_evento.id}}").toggleClass('oi-x');
        },
        failure: data => alert("qualcosa e' andato storto"),
    }
    );
    return false;
}
</script>


        {% if evento.colletta %}
            {% with evento.colletta as colletta %}
                {% include "genitori/colletta_detail_frame.html" with invito=invito_colletta %}
            {% endwith %}
        {% endif %}

        <h3> Invitati: </h3>

        {% if evento.creatore == user.genitore %}
        <p>
            <button id='btn-invito-show' class='btn btn-primary'>
                Invita qualcuno...
            </button>
        </p>
        {% endif %}

        <div id='form-invito-wrapper' >
        </div>
<script>
// mostra form al click
$('#btn-invito-show').click(
    function(e) {
        $.ajax({
            url: '{% url "genitori:aggiungi-invito-evento" evento.pk %}',
            success: function(data) {
                $('#form-invito-wrapper').html(data);
            },
        });
    }
)
</script>

{% if evento.invitati.exists %}
        <div style='overflow-y:scroll;max-height:100'>
            <table class='table'>
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Partecipa a evento</th>
        {% if evento.colletta %}
                    <th>Partecipa a colletta</th>
        {% endif %}
                  </tr>
                </thead>
                <tbody>
                    {% for invito_evento, invito_colletta in inviti %}
                  <tr>
                      <td>{{invito_evento.genitore}}</td>
                      <td>
                          <span 
                              id='partecipazione_evento_{{invito_evento.id}}'
                              class='oi oi-{{invito_evento.conferma|yesno:"check,x"}}' 
                              title='Confermato'></span>
                      </td>
        {% if evento.colletta %}
                      <td>
                          <span 
                              id='partecipazione_colletta_{{invito_colletta.id}}'
                              class='oi oi-{{invito_colletta.conferma|yesno:"check,x"}}' 
                              title='Confermato'></span>
                      </td>
        {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
{% else %}
        <p> Nessun invitato. </p>
{% endif %}
    </div>
</div>

{% endblock content %}
