{# Form per aggiornare gli inviti a un evento #}
{% load crispy_forms_tags %}
<form id='form-invito' method=POST action="{% url 'genitori:aggiungi-invito-evento' evento.pk %}">
    {% csrf_token %}
        {{form|crispy}}
    <input type=submit class='btn btn-primary' value='Aggiorna Inviti' />
</form>
<script>

$('#form-invito').click(
    function(e) {
        e.preventDefault();
        $.ajax({
            url: '{% url "genitori:aggiungi-invito-evento" evento.pk %}',
            error: function(data) {
                $('#form-invito-wrapper').html(data);
            },
        });
        return false;
);

</script>
