{% extends "core/form_base.html" %}

{% block form_title %}
Aggiungi un evento per la classe {{classe}}
{% endblock form_title %}


{% block form_description %}
<p>
	Crea un evento per poter tenere traccia della lista degli invitati. 
</p>
<p>
	Se stai anche organizzando una raccolta fondi per questo evento, potrai
	organizzare qui anche quella, e tenere traccia di chi ha gia' dato la
	quota consigliata.
</p>
{% endblock form_description %}
