<!-- vim: syntax=htmldjango
-->
<div class='col'>
    <h5> Aggiungi un figlio </h5>
    <form method='post' action="{% url 'genitori:aggiungi-figlio' %}" autocomplete='off'>
            {{form|crispy}}
            {% csrf_token %}
        <input type='submit' class='btn btn-primary' value='Aggiungi' />
    </form>
    <script>
        $( function() { 
            $('[data-target="#data-nascita-picker"]').datepicker({
                dateFormat: "dd/mm/yy",
                yearRange: '2005:2014',
                changeMonth: true,
                changeYear: true
            }); 
            $('[data-target="#data-nascita-picker"]').attr('autocomplete','off'); 
        } );
    </script>
</div>
