{% extends "core/base.html" %}

{% block content %}

<div class='row'>
    <div class='col'>
        <h1> 
            Ciao 
            <a href="{% url 'genitori:home-genitore' %}">
                {{user.full_name}}
            </a>
        </h1>
		<p> <a href="{% url 'modifica-profilo' %}"> 
			Impostazioni Profilo 
		</a> </p>
    </div>
</div>
<hr />

{% block genitore_content %}

	{% include "genitori/pannello_figli.html" %}

	{% include "genitori/pannello_classi.html" %}

{% endblock genitore_content %}

{% endblock content %}
