<!-- 
    vim: syntax=htmldjango  
-->
{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class='row'>
    <h1> Accedi come genitore </h1>
</div>
<hr />

<div class='row'>

    <form method='post' action="{% url 'genitori:login-genitore' %}">
            {{ form|crispy }}
            {% csrf_token %}
        <input type='submit' class='btn btn-primary' value='Accedi' />
    </form>

</div>
{% endblock content %}
