<!-- vim: syntax=htmldjango
-->
<div class='row'>
    <div class='col'>
		<div style='display:flex;'>
			<h2 style='flex:10;'> 
				Figli 
			</h2>
		</div>
		<div id='figlio-form' class='row'></div>
	</div>
</div>


<div class='row'>

        {% for figlio in user.genitore.figli.all %}
            <div class='col-5'>
                <h5>
                    <a href='{% url "dettagli-classe" figlio.classe.pk %}'>
                        {{ figlio.nome|title }} {{ figlio.cognome|title }}
                    </a>
                </h5>
                <p> Classe: {{figlio.classe}} {{ figlio.scuola|title }}</p>
                <hr/>
            </div>
        {% empty %}

        <div class='col'>
            <p> Sembra che tu non abbia aggiunto figli che vanno a scuola. </p>
        </div>

        {% endfor %}

</div>

