{% comment %}
vim: ft=htmldjango:
{% endcomment %}
<div class='row'>
    <div class='col-8'>
        <h1> Eventi </h1>
    </div>
    <div class='col-4'>
        <a class='btn btn-primary' href="{% url 'genitori:aggiungi-evento' classe.pk %}">
            Aggiungi Evento
        </a>
    </div>
</div>

<div class='row' id='#wrapper-lista-eventi' >
{% for evento, invito in eventi_inviti %}

<div class='col-6'>

    <div class='card' >
        <div class='card-header'>
            <h3> {{evento.nome}} </h3>
            <p> 
                Presso: <b> {{evento.luogo_str}}</b> 
                <br/>
                <small> {{evento.data}} </small>
            </p>
        </div>
        <div class='card-body'>
            <p> {{evento.descrizione}} </p>
            <div id='evento-{{evento.pk}}-bottoni-wrapper'>

                {% include "genitori/bottoni_evento.html" %}

            </div>
        </div>
    </div>

</div>
{% empty %}

<div class='col'>
    <p> Non c'e' nessun evento qui. </p>
</div>

{% endfor %}
</div>

<script>

function accettaInvitoEvento(e) {
    e.preventDefault();
    $.ajax({
        url: e.target.href,
        cache: false,
        success: function(data) {
            var evento_id = e.target.getAttribute('data-eventoId');
            $("#evento-"+evento_id+"-bottoni-wrapper").html(data);
        },
        failure: data => alert("qualcosa e' andato storto"),
    }
    );
    return false;
}

</script>

