<div class='row'>
    <div class='col-12'>
        <h1>
            Crea una classe
        </h1>
		<p> 
            Creando una nuova classe, ne diventi il rappresentante.
        </p>
		<p> 
			<a href="{% url 'genitori:aggiungi-classe' %}">
				<button class='btn btn-primary' id='genitori:aggiungi-classe'>
					Aggiungi classe
				</button>
			</a>
            <button class='btn btn-primary' style='margin:9px 9px;flex:2;' 
                id='trova-classe'> 
				Trova una classe
			</button>
        </p>
    </div>
</div>
<div style='display:none' id='cerca-classe-form' class='row'>
    {% include "core/form_invito_classe.html" %}
</div>
<script>
    $('#trova-classe').click(function(e) {
        $('#cerca-classe-form').show();    
    });
</script>
