{% extends "core/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class='row' >
    <div class='col-6' >
        <h1> Registrazione genitore </h1>
    </div>
</div>
<div class='row' >
    <div class='col-6' >
        <form method=POST action='{% url "genitori:signup-genitore" %}'>
				{% csrf_token %}
                {{ form|crispy }} 
            <input type='submit' value='submit' class='btn btn-primary' />
        </form>
    </div>
</div>

    <script>
        $( function() { 
            $('[data-target="#data-nascita-picker"]').datepicker({
                yearRange: '1920:2001',
                changeMonth: true,
                changeYear: true
            }); 
            $('[data-target="#data-nascita-picker"]').attr('autocomplete','off'); 
        } );
    </script>
{% endblock content %}
