<!--
    vim: syntax=htmldjango:
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>

  <link rel="stylesheet" href="/static/style.css">

<!-- jquery -->
<script src="http://code.jquery.com/jquery-3.4.1.min.js" crossorigin='anonymous'></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js" crossorigin='anonymous'></script>
<link rel='stylesheet' href="http://code.jquery.com/ui/1.12.1/themes/cupertino/jquery-ui.css" crossorigin=anonymous>

  <!-- Bootstrap CSS from CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- OpenIconic Icon Font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
</head>

<body>

	{% block navbar %}
		{% include "core/navbar.html" %}
	{% endblock navbar %}

    <div class='container'>
        {% block content %}
        {% endblock content %}
    </div>

</body>
</html>
