<h1> Classe {{ classe }} 

</h1>
<p>
    {% if user.insegnante %}
        <button class='btn btn-primary' id='aggiungi-compito'>
                Aggiungi compiti
        </button> 
    {% endif %}
    {% if is_rappresentante %}
        <button href='{% url "genitori:classe-delete" classe.pk %}' 
           class='btn btn-outline-danger'>
            Elimina classe
        </button>
    {% endif %}
    <button onclick='mostraInviti(event)' type=button class='btn btn-primary'> 
        Mostra link d'invito
    </button> 
</p>
<div id='inviti-wrapper' style='display:none'>
    <p>
        Il codice di invito e' <code>{{classe.uuid}}</code>
    </p>
    <p> Copia questo link e invialo a chi vuoi invitare: 
        <input value='{{invito_url}}' type=text id='invito-url' readonly />
        <button class='btn btn-primary' onclick='copiaTesto(event)'>
            Copia Link
        </button>
    </p>
</div>
<script>
    function mostraInviti(e) {
        $('#inviti-wrapper').slideDown();
        return false;
    }
    function copiaTesto(e) {
        var testo = document.getElementById('invito-url');
        testo.select();
        document.execCommand('copy');
    }
</script>
{% comment %}
vim: ft=htmldjango
{% endcomment %}
