{% comment %}
    vim: ft=htmldjango:
{% endcomment %}

<div class='row'>
        <div class='col-12'>
            <h2> Prossimi compiti </h2>
        </div>
        {% for compito in compiti %}
                {% include 'core/scheda_compito.html' %}
        {% empty %}
        <div class='col-12'>
            <p> Nulla! </p>
        </div>
        {% endfor %}
</div>

<div class='row' style='background: #eee;margin-top:2rem;'>
    <div class='col-12' >
        <div class=row id='mostra-compiti-passati'>
            <div class=col-10>
                <h2> Compiti passati </h2>
                <p>
                <small id='smalltext'> (clicca per espandere) </small> 
                </p>
            </div>
        </div>
        <div id='lista-compiti-wrapper' style='display:none'>
            <div class='row'>
            {% for compito in compiti_passati %}
                {% include 'core/scheda_compito.html' %}
            {% empty %}
                <p> Nulla! </p>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
    <script>
        $('#mostra-compiti-passati').click(function(e) {
            $('#lista-compiti-wrapper').slideToggle();
            $('#smalltext').toggle();
        });
    </script>
