{% load crispy_forms_tags %}
<div class='col'>
    <h3> Inserisci il codice invito di una classe </h3>
    <p> <small> 
        Ottieni il codice invito da un altro genitore della tua classe 
    </small></p>
    <form action="{% url 'ricerca-classe' %}" method=POST>{% csrf_token %}
        {{form_ricerca_classe|crispy}}
        <input value='Cerca' id='cerca-classe-submit' type=submit class='btn btn-primary' />
    </form>
</div>
