{% comment %}
 vim: ft=htmldjango: 
{% endcomment %}
<form method="post">
    {{ formset.management_form }}
    <table>
        {% for form in formset %}
        {{ form }}
        {% endfor %}
    </table>
</form>
