{% extends "core/base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class='row'>
</div>

<div class='row justify-content-center'>
    <div class='col'>
        <h2> 
            {% block form_title %}{% endblock form_title %}
        </h2>
        {% block form_description %}
        {% endblock form_description %}
    </div>
    <div class='col-7'>
        <form method=post>{% csrf_token %}
            {{form|crispy}}
            <input type=submit value="{% block submit_text %}Conferma{% endblock submit_text %}" class='btn btn-primary' />
        </form>
    </div>
</div>

{% endblock content %}
