{% extends "core/base.html" %}

{% block content %}

{% if not user.is_authenticated %}

<div class='row'>
	<div class='col-12'>
		<h1> Benvenuto </h1>
	</div>
</div>

<div class='row'>
	<div class='col-12'>

		<h3> Registrati come genitore </h3>

		<p> 
			Registrandoti in questa maniera, potrai creare una classe e invitare 
			gli altri genitori della tua classe 
		</p>
		<a class='btn btn-primary' href="{% url 'genitori:signup-genitore' %}">
			Registrati come genitore
		</a>

	</div>
</div>


<div class='row'>
	<div class='col-12'>

		<h3> Registrati come insegnante </h3>
		<p> 
			Registrandoti in questa maniera, potrai creare una classe e invitare 
			gli altri insegnanti della tua classe 
		</p>
		<a class='btn btn-primary' href="{% url 'insegnanti:signup-insegnante' %}">
            Registrati come insegnante
		</a>
	</div>
</div>


<div class='row'>
	<div class='col-12'>
		<h3> Accedi come: </h3>
		<div class='flexer' >
			<a style='flex:0' class='btn btn-primary' href="{% url 'genitori:login-genitore' %}">
                Genitore
			</a>
			<a style='flex:0' class='btn btn-primary' href="{% url 'insegnanti:login-insegnante' %}">
                Insegnante
			</a>
		</div>
	</div>
</div>

{% elif user.is_superuser %}
<h1> che ci fai tu qui? </h1>
{% else %}
<h1> Benvenuto {{user.first_name}} {{user.last_name}} </h1>
{% endif %}

{% endblock content %}
