<!-- vim: syntax=htmldjango 
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav mr-auto">
	  <li class="nav-item active">
		<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
	  </li>
	  <li class="nav-item">
		  <a class="nav-link" href=""></a>
	  </li>
	  {% if user.is_authenticated %}

      <!-- Se l'utente c'e', mostra solo pulsante logout -->
	  <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
	  </li>
      
	  {% else %}

	  <!-- Registrazione (dropdown) -->
	  <li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  Registrazione
		</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
		  <a class="dropdown-item" href="{% url 'insegnanti:signup-insegnante' %}">
			  Come Insegnante
		  </a>
          <a class="dropdown-item" href="{% url 'genitori:signup-genitore' %}">Come Genitore</a>
		</div>
	  </li>
	  <!-- Login (dropdown) -->
	  <li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  Accedi
		</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
		  <a class="dropdown-item" href="{% url 'insegnanti:login-insegnante' %}">
			  Come Insegnante
		  </a>
		  <a class="dropdown-item" href="{% url 'genitori:login-genitore' %}">Come Genitore</a>
		</div>
	  </li>

	  {% endif %}

	</ul>
    {% comment %}
	<form class="form-inline my-2 my-lg-0">
	  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cerca</button>
	</form>
    {% endcomment %}
  </div>
  {{user.full_name|title}}
</nav>
