{% comment%}
    vim: syntax=htmldjango
    
    Si aspetta di ricevere un oggetto di nome 'compito' nel contesto
{% endcomment %}

<div class='col-6 card' style='padding:0; margin: 4px 0;'>
    <h5 class='card-header'> 
        Materia: {{compito.materia|title}} 
    </h5>
    {% if compito.foto %}
    <div class='card-img-top'>
        <a 
         href='{{ compito.foto.url }}' >
        <img
            style='max-height:200px;display:block;margin:auto;max-width:100%; height: auto;'
            src='{{ compito.foto.url }}' 
            style='' />
        </a>
    </div>
    {% endif %}
    <div class='card-body'>
        <p class='card-text'> 
            Entro il: {{ compito.data }} 
            <br />
            <small> Assegnato da: {{compito.creatore.full_name}} </small>
        </p>
        <p class='card-text'>
            {{compito.testo}}
        </p>
    </div>
</div>

